.slider-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center; 
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 40px;
  z-index: 999;
}

.menu-slide {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.slider-title {
    color: white;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-align: start;
    line-height: 85%;
}

.menu label {
  /* cursor: pointer; */
  display: inline-block;
  width: 76px;
  height: 2px;
  background: #fff;
}

.label-selected {
    height: 6px !important;
}

/* .menu label:hover {
    background: red;
} */

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
  background-repeat: no-repeat;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url('../../../public/banner-1.jpeg');
  object-fit: contain;
}
.slide-2 {
  background-image: url('../../../public/banner-2.jpeg');
}
.slide-3 {
  background-image: url('../../../public/banner-3.jpeg');
}

.slide-4 {
  background-image: url('../../../public/banner-4.jpeg');
}

.slide-5 {
  background-image: url('../../../public/banner-5.jpeg');
}

@media only screen and (max-width: 700px) {
  .menu label {
    width: 55px;
  }
}