.headline-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 260px;
}

.headline-container {
  position: relative;
  width: 260px; /* Adjust as needed */
  /*  height: 351px; Adjust as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline-background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: transform 0.5s ease; /* Smooth transition effect */
}

.headline-background-image > img {
  border-radius: 4px;
}