.input {
    border: 1px solid #232323;
}

.input::placeholder {
    color: #8B849B;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Revert text color */
  -webkit-text-fill-color: white !important;
  color: white !important;
  caret-color: white !important;

  /* Revert background color */
  transition: background-color 5000s ease-in-out 0s;
    background-color: -internal-light-dark(rgb(0, 0 , 0), rgba(0, 0, 0)) !important;
}

input:autofill {
  background: #000;
}