nav {
     border-bottom: 1px solid #262626;
}

.navbar {
    position: sticky;
}

.divider {
    height: 40px;
    border: 1px solid #262626;
}

.divider::before {
    background: #262626;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

ul > li {
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    color: white;
    letter-spacing: 0.6px;
    font-weight: 700;
}

.navbar__link {
    font-size: 16px;
    font-weight: 700;
}

li {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 70px;
}

li:before, li:after {
    content: '';
    position: absolute;
    /* transition: transform .5s ease; */
  }

.link-effect {
  display: inline-block;
  /* padding-top: 10px;
  padding-bottom: 15px; */
  overflow: hidden;
}

.link-effect:hover:before {
    transform:  translateX(0);
  }

.link-effect:before {
    left: -1px;
    bottom: 0;
    width: 100%;
    height: 3px;
    transform:  translateX(-100%);
    background: #13D4C8;
}

.link-effect__selected:before {
    width: 100%;
    height: 3px;
    background: #13D4C8;
    transform:  translateX(0);
}

#navbar-mobile {
    z-index: 9999;
}