.page-header-title {
    position: absolute;
    left: 8%;
    bottom: -50px;
    color: #FFF;
    font-size: 7vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: black;;
}

@media only screen and (max-width: 1200px) {
  .page-header-title {
    bottom: -15px;
  }
}