.page-header-title {
    position: absolute;
    left: 8%;
    bottom: -50px;
    color: #FFF;
    font-size: 7vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: black;
    padding: 10px 10px 0 10px;
}

.page-header-btn {
  position: absolute;
  right: 8%;
  color: #000;
  font-size: 16px;
  line-height: normal;
  background-color: #FFF;
  padding: 16px 32px;
  border-radius: 999px;
  bottom: -20px;
  font-family: var(--font-roboto-regular);
}

@media only screen and (max-width: 1200px) {
  .page-header-title {
    bottom: -15px;
  }

  .page-header-btn {
    font-size: 12px;
    padding: 8px 16px;
    bottom: -15px;
  }
}