.page-header-title {
    position: absolute;
    left: 8%;
    bottom: 0;
    color: #FFF;
    font-size: 7vw;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 78.125% */
    text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
  .page-header-title {
    left: 15%;
    line-height: 5px;
  }
}